screenshots/
other/

*.afphoto
*.afphoto~lock~

# dearimgui, generated cbindings
# from here: https://love2d.org/wiki/cimgui-love
# here: https://codeberg.org/apicici/cimgui-love/releases
# and here: https://codeberg.org/apicici/cimgui-love
#lib/cimgui/
